<!DOCTYPE html>
<html>
    <head>
        {% if title %}
            <title>{{ title }}</title>
        {% else %}
            <title>Wormhole Queue System</title>
        {% endif %}
        {% block scripts %}
        {% endblock %}
        <link rel="icon"
              type="image/png"
              sizes="32x32"
              href="{{ url_for('static', filename='Updated-Wormhole-Image.png') }}">
        <link rel="shortcut icon"
              href="{{ url_for('static', filename='Updated-Wormhole-Image.png') }}" />
        <link rel="stylesheet"
              href="{{ url_for('static', filename='styles.css') }}"
              type="text/css">
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    </head>
    <body>
        <div class = "page">
            <div class = "header">
                <h1 style="color:#FFFFFF;text-align:center">
                    Oregon State University Wormhole
                </h1>
                <div class="navbar">
                    <a href="{{ url_for('views.index') }}">Home</a>
                    <a href="{{ url_for('views.create_ticket_page') }}">Submit Request</a>
                    <a href="{{ url_for('views.livequeue') }}">Live Queue</a>
                    <a href="{{ url_for('views.wiki') }}">Wiki</a>
                    <div class="dropdown">
                        <button class="dropbtn"
                                type="button"
                                aria-expanded="false"
                                aria-controls="user-dropdown-menu">
                            User
                        </button>
                        <div class="dropdown-content" id="user-dropdown-menu">
                            {% if current_user.is_anonymous %}
                                <a href="{{ url_for('views.assistant_login') }}">Log In</a>
                            {% else %}
                                <a href="{{ url_for('views.userpage', username=current_user.username) }}">Profile</a>
                                {% if current_user.is_admin %}
                                    <div class = "admin-links">
                                        <a href="{{ url_for('views.register') }}">Register New User</a>
                                        <a href="{{ url_for('views.queue') }}">Queue</a>
                                        <a href="{{ url_for('admin.attendance_health') }}">Attendance Health</a>
                                        <a href="{{ url_for('views.archive') }}">Archive</a>
                                        <a href="{{ url_for('views.edit_site_content') }}">Edit Website</a>
                                    </div>
                                {% endif %}
                                <a href="{{ url_for('views.hardware_list') }}">Hardware List</a>
                                <a href="{{ url_for('views.logout') }}">Log Out</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {# Update get_flashed_messages to include categories (success, error, info) #}
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class ="section message">
                    <ul>
                        {% for category, ms in messages %}
                            {# Apply a class based on the category (e.g., flash-success, flash-error) #}
                            <li class="flash-{{ category }}">
                                {{ ms }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endwith %}
        {% block content %}
        {% endblock %}
        <script src="{{ url_for('static', filename='js/dropdown.js') }}"></script>
        {% block body_scripts %}
        {% endblock %}
    </body>
</html>
