{% extends "base.html" %}
{% block content %}
    <div class="page">
        <div class="section tickets">
            <h2>
                User List
            </h2>
            <div class="user-tables">
                <table>
                    <tr>
                        <th>
                            Current Users
                        </th>
                        <th>
                            Admin
                        </th>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <form action="{{ url_for('views.download_current_users') }}" method="get">
                                <button type="submit">
                                    Download Current Users
                                </button>
                            </form>
                        </td>
                    </tr>
                    {% for u in new_users %}
                        <tr>
                            <td>
                                <a href="{{ url_for('views.delete_user', username=u.username) }}">
                                    {{ u.name or u.username }}
                                </a>
                            </td>
                            <td>
                                {{ 'Yes' if u.is_admin else 'No' }}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                <table>
                    <tr>
                        <th>
                            Old Users
                        </th>
                        <th>
                            Admin
                        </th>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <form action="{{ url_for('views.download_old_users') }}" method="get">
                                <button type="submit">
                                    Download Old Users
                                </button>
                            </form>
                        </td>
                    </tr>
                    {% for u in old_users %}
                        <tr>
                            <td>
                                <a href="{{ url_for('views.delete_user', username=u.username) }}">
                                    {{ u.name or u.username }}
                                </a>
                            </td>
                            <td>
                                {{ 'Yes' if u.is_admin else 'No' }}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}
